##### 피파랭킹 선정 이유--> 최근 재개된 epl 경기들을 보고 축구 피파랭킹이 자유도와 관련이 있지 않을까 싶어서 이 주제를 선정했습니다.¶

#### 피파랭킹은 데이터셋의 변수 중에서 pf_association_sport와 가장 직적접으로 연결이 있습니다. 이를 바탕으로 과연 자유도가 높은 국가일수록 스포츠에 관한 자유도가 높고 이를 바탕으로 피파랭킹을 대입하여 추론을 했습니다.

##### 또한 이 프로젝트는 2017 피파랭킹 표와 함께 보면 더욱 이해가 잘 됩니다.

In [2]:
import pandas as pd

In [3]:
fr = pd.read_csv("Downloads/human-freedom-index-2019.csv")

In [4]:
fr = fr.replace("-", "0") 
#결측치는 전부 0으로 통일해서 되도록 int()와 float() 성격의 변수들과 그나마 통일성을 맞추려고 했습니다.

In [5]:
fr.head()

,year,ISO_code,countries,region,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,...,ef_regulation_business_adm,ef_regulation_business_bureaucracy,ef_regulation_business_start,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank
0,2017,ALB,Albania,Eastern Europe,7.84,38,1,6.7,4.5,4.7,...,6.3,6.7,9.7,4.1,6,7.2,6.7,7.8,7.67,30
1,2017,DZA,Algeria,Middle East & North Africa,4.99,155,4,0,0,0,...,3.7,1.8,9.3,3.8,8.7,7,5.7,5.4,4.77,159
2,2017,AGO,Angola,Sub-Saharan Africa,5.4,151,4,0,0,0,...,2.4,1.3,8.7,1.9,8.1,6.8,4.9,5.7,4.83,158
3,2017,ARG,Argentina,Latin America & the Caribbean,6.86,77,2,7.1,5.8,4.3,...,2.5,7.1,9.6,3.3,5.4,6.5,5.7,5.6,5.67,147
4,2017,ARM,Armenia,Caucasus & Central Asia,7.42,54,2,0,0,0,...,4.6,6.2,9.9,4.6,9.3,7.1,6.9,7.5,7.7,27

In [6]:
fr.tail()

,year,ISO_code,countries,region,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,...,ef_regulation_business_adm,ef_regulation_business_bureaucracy,ef_regulation_business_start,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank
1615,2008,AUS,Australia,Oceania,8.73,4,1,8.8,7.2,7.2,...,3.7,4.6,9.9,8.6,7.3,8.8,7.1,8.5,8.18,6
1616,2008,DNK,Denmark,Western Europe,8.73,4,1,9.4,7.9,8.7,...,4.7,7.4,9.7,9.4,9.7,8.5,8.2,8.6,7.98,9
1617,2008,CHE,Switzerland,Western Europe,8.83,3,1,0,0,0,...,5.5,7.8,9.3,8.8,8.3,9.3,8.1,8.5,8.35,4
1618,2008,NZL,New Zealand,Oceania,8.94,2,1,8.7,7.6,7.9,...,4.5,4.5,10,9.6,9.8,9.2,7.9,8.8,8.46,3
1619,2008,HKG,Hong Kong,East Asia,9.12,1,1,7.9,7.1,7.6,...,6.9,6.9,9.8,8.5,9.8,9.1,8.5,9.3,9.11,1

In [7]:
fr.shape

(1620, 120)

In [8]:
fr.dtypes

year                                  int64
ISO_code                             object
countries                            object
region                               object
hf_score                             object
                                      ...
ef_regulation_business_compliance    object
ef_regulation_business               object
ef_regulation                        object
ef_score                             object
ef_rank                              object
Length: 120, dtype: object

In [9]:
fr = fr[["year","countries","region","hf_score","pf_association_sport","pf_religion","ef_government","ef_legal_protection","ef_legal_military","ef_money_growth","ef_trade_movement","ef_regulation_labor_hours"]]

#### 자유도 점수와 스포츠 뿐만 아니라 보다 다방면으로 비교와 추론을 하기 위해서 종교, 정부, 군세력, 현금흐름, 노동시간이라는 변수를 추출했습니다.

#### 이 변수들은 선진국으로써 갖춰야 할 가장 기본적인 요소들이라 판단했기에 추출했습니다.

In [11]:
fr.head()

,year,countries,region,hf_score,pf_association_sport,pf_religion,ef_government,ef_legal_protection,ef_legal_military,ef_money_growth,ef_trade_movement,ef_regulation_labor_hours
0,2017,Albania,Eastern Europe,7.84,10,9.2,7.5,4.6,8.3,9.3,6.7,8
1,2017,Algeria,Middle East & North Africa,4.99,5,4.9,3.6,4.8,4.2,7,1.6,6
2,2017,Angola,Sub-Saharan Africa,5.4,7.5,8.8,6.8,3.3,3.3,9.4,2,4
3,2017,Argentina,Latin America & the Caribbean,6.86,7.5,7.8,5.7,4.4,7.5,5,4.7,10
4,2017,Armenia,Caucasus & Central Asia,7.42,7.5,6.2,7.4,5.8,5.8,8.6,6.8,10

In [12]:
fr.tail()

,year,countries,region,hf_score,pf_association_sport,pf_religion,ef_government,ef_legal_protection,ef_legal_military,ef_money_growth,ef_trade_movement,ef_regulation_labor_hours
1615,2008,Australia,Oceania,8.73,10,9.6,7.3,8.6,10,8.7,3.2,10
1616,2008,Denmark,Western Europe,8.73,10,9.2,4.8,9.1,10,8.6,7.2,8
1617,2008,Switzerland,Western Europe,8.83,10,9,8.1,9.2,10,8.4,6.2,8
1618,2008,New Zealand,Oceania,8.94,10,9.7,6.3,8.7,10,9.7,7.1,10
1619,2008,Hong Kong,East Asia,9.12,10,9.7,8.9,8.8,8.3,10,9,10

In [13]:
fr.shape

(1620, 12)

In [14]:
fr.dtypes

year                          int64
countries                    object
region                       object
hf_score                     object
pf_association_sport         object
pf_religion                  object
ef_government                object
ef_legal_protection          object
ef_legal_military            object
ef_money_growth              object
ef_trade_movement            object
ef_regulation_labor_hours    object
dtype: object

#### 다음 단계를 진행하기 위해서 데이터셋의 고유 특성으로 처음에 숫자로 열이 채워진 변수들도 전부 object라고 나와 있어서 이를 숫자에 맞게 int() 혹은 float()로 변환했습니다.

In [16]:
fr['hf_score'] = pd.to_numeric(fr['hf_score'])

In [17]:
fr['pf_association_sport'] = pd.to_numeric(fr['pf_association_sport'])

In [18]:
fr['pf_religion'] = pd.to_numeric(fr['pf_religion'])

In [19]:
fr['ef_government'] = pd.to_numeric(fr['ef_government'])

In [20]:
fr['ef_legal_protection'] = pd.to_numeric(fr['ef_legal_protection'])

In [21]:
fr['ef_legal_military'] = pd.to_numeric(fr['ef_legal_military'])

In [22]:
fr['ef_money_growth'] = pd.to_numeric(fr['ef_money_growth'])

In [23]:
fr['ef_trade_movement'] = pd.to_numeric(fr['ef_trade_movement'])

In [24]:
fr['ef_regulation_labor_hours'] = pd.to_numeric(fr['ef_regulation_labor_hours'])

In [26]:
fr.dtypes

year                           int64
countries                     object
region                        object
hf_score                     float64
pf_association_sport         float64
pf_religion                  float64
ef_government                float64
ef_legal_protection          float64
ef_legal_military            float64
ef_money_growth              float64
ef_trade_movement            float64
ef_regulation_labor_hours    float64
dtype: object

In [27]:
import numpy as np

In [28]:
HighFreedom = fr[(fr["hf_score"]>=8) & (fr["pf_association_sport"]>=7.5) & (fr["year"]>=2017)]

#### 기본적으로 자유도가 최소 8이상인 국가를 자유도가 높은 국가들이라고 할 수 있습니다. 자유도가 8~10의 점수에 해당되면 이제 그 안에서의 점수차이는 거의 의미가 없고 여기에 해당되는 국가들이 선진국이라는 것에 의미를 두는 것이 중요합니다.

#### 또한, 스포츠 자유도를 7.5이상의 준수한 수준으로 설정해서 전세계적으로 상대적으로 스포츠 관련 국제대회의 성적이나 스포츠산업 투자가 활발한 국가들로 범위를 압축했습니다.

#### 마지막으로 러시아 월드컵 출전 하기 전 해인 2017년의 데이터로 범위를 축소해서 실제 2017년 당시 피파랭킹 순위로 선택한 변수들을 함께 사용해 어떠한 국가들이 단지 축구를 잘하는 이유를 넘어서 추가적으로 어떠한 이유로 랭킹이 높았는지 살펴볼 수 있습니다.

#### 이 모든 조건으로 맞춘 데이터셋의 이름을 최종으로 HighFreedom이라고 설정했습니다.

In [30]:
HighFreedom.head()

,year,countries,region,hf_score,pf_association_sport,pf_religion,ef_government,ef_legal_protection,ef_legal_military,ef_money_growth,ef_trade_movement,ef_regulation_labor_hours
5,2017,Australia,Oceania,8.62,10.0,9.1,7.0,8.2,10.0,9.0,3.9,10.0
6,2017,Austria,Western Europe,8.48,10.0,7.9,5.7,8.2,10.0,8.2,5.9,6.0
13,2017,Belgium,Western Europe,8.29,10.0,8.1,4.9,7.9,10.0,8.5,6.5,6.0
27,2017,Canada,North America,8.65,10.0,9.0,6.5,8.4,10.0,9.0,6.7,8.0
31,2017,Chile,Latin America & the Caribbean,8.15,10.0,9.3,8.2,7.0,7.5,9.1,6.6,10.0

#### 데이터셋에서 과연 어떠한 지역들이 주로 위의 조건들을 충족하는지 알아보기 위해서 ["region"]을 별도로 추출한 결과, 놀랍게도 유럽국가들의 빈도가 압도적으로 많이 나왔습니다.

#### 그 외에 몇몇 다른 대륙의 국가들이 출현했지만, 이것은 어디까지나 스포츠의 자유도가 높을수록 상대적으로 피파랭킹이 높다는 것이지, 모든 국가가 축구를 잘한다는 의미는 아닙니다.

#### 실제로 축구강국들이 대부분 유럽에 포진되어 있고 세계 최고 수준의 리그들이 영국,스페인,이탈리아에 있음은 물론이고 이 리그들로 타 국가의 선수들이 상당히 많이 이적해서 본인들의 커리어를 쌓고 인정을 받습니다.

In [32]:
HighFreedom["region"]

5                            Oceania
6                     Western Europe
13                    Western Europe
27                     North America
31     Latin America & the Caribbean
40                    Eastern Europe
41                    Western Europe
46                    Eastern Europe
50                    Western Europe
51                    Western Europe
55                    Western Europe
64                         East Asia
66                    Western Europe
73                    Western Europe
79                         East Asia
83                    Eastern Europe
88                    Eastern Europe
89                    Western Europe
94                    Western Europe
106                   Western Europe
107                          Oceania
112                   Western Europe
121                   Western Europe
123                   Eastern Europe
132                   Eastern Europe
135                   Western Europe
139                   Western Europe
140                   Western Europe
142                        East Asia
154                   Western Europe
155                    North America
Name: region, dtype: object

#### hf_score을 여러 변수와 비교해서 groupby()를 통해서 숫자들의 관계를 나타낸 결과, 자유도는 상대적으로 스포츠,종교,법적보호,자산증대,거래비중에 있어서 거의 양의 관계를 보입니다.

#### 물론, 각 국가별로 정치,경제,안보의 측면에서 제도들이 확실히 다르지만, 자유도 점수로 이렇게 군집을 해서 분류를 했을 때 어느정도 일관된 흐름이 있습니다.

#### 군사 및 노동시간 같은 경우 흐름에 일관성을 띄기 보다 각 국가의 제도에 충실한 것으로 보입니다. 사실 충분히 이러한 결과가 나올 수 있는 이유는 예시로 설명할 수 있습니다. 

#### 우리나라의 경우, 세계적으로 군사력은 상위권에 있고, 평균 노동 및 근로시간 또한 많은 것으로 상위권입니다. 하지만 여러 방면에서 살기 좋은 자유 민주주의 국가이고 정치 및 경제적 자유도가 높습니다. 그러나 스포츠 관련해서 국제적인 성적은 조금 아쉬운 점이 있고 양궁,태권도,쇼트트랙 같은 종목에서도 이제 웬만하면 독보적인 존재감을 나타내지 않습니다. 나아가 축구에서는 특히 국민들의 열광이 힘찬 반면, 아시아에서는 확실히 강호의 모습을 보이지만,국가대표 A매치 성적은 유럽 혹은 남미의 강팀을 만나면 대부분 패배의 전적이 있습니다.

In [34]:
HighFreedom[["hf_score","pf_religion"]].groupby("pf_religion").mean()

             hf_score
pf_religion
7.3          8.020000
7.4          8.440000
7.6          8.470000
7.7          8.370000
7.8          8.340000
7.9          8.373333
8.0          8.080000
8.1          8.350000
8.2          8.820000
8.3          8.460000
8.4          8.370000
8.5          8.305000
8.6          8.810000
8.9          8.486667
9.0          8.650000
9.1          8.590000
9.3          8.150000
9.4          8.290000
9.7          8.880000

In [35]:
HighFreedom[["hf_score","ef_legal_protection"]].groupby("ef_legal_protection").mean()

                     hf_score
ef_legal_protection
5.4                  8.116667
5.7                  8.320000
5.9                  8.120000
6.0                  8.110000
6.1                  8.340000
6.3                  8.270000
6.7                  8.200000
6.9                  8.370000
7.0                  8.150000
7.3                  8.460000
7.5                  8.020000
7.6                  8.465000
7.9                  8.375000
8.1                  8.455000
8.2                  8.553333
8.3                  8.440000
8.4                  8.650000
8.6                  8.730000
8.7                  8.470000
8.8                  8.560000
9.2                  8.820000
9.3                  8.530000

In [36]:
HighFreedom[["hf_score","ef_regulation_labor_hours"]].groupby("ef_regulation_labor_hours").mean()

                           hf_score
ef_regulation_labor_hours
4.0                        8.240000
6.0                        8.480000
8.0                        8.344167
10.0                       8.465000

In [37]:
HighFreedom[["hf_score","ef_money_growth"]].groupby("ef_money_growth").mean()

                 hf_score
ef_money_growth
7.7              8.500000
7.8              8.340000
8.0              8.155000
8.1              8.530000
8.2              8.262857
8.3              8.495000
8.4              8.290000
8.5              8.290000
8.6              8.370000
9.0              8.716667
9.1              8.386667
9.3              8.410000
9.5              8.470000
9.6              8.440000
9.7              8.430000
9.8              8.560000
9.9              8.820000

In [38]:
HighFreedom[["hf_score","ef_trade_movement"]].groupby("ef_trade_movement").mean()

                   hf_score
ef_trade_movement
3.9                8.540000
5.1                8.410000
5.6                8.400000
5.9                8.376667
6.1                8.500000
6.2                8.675000
6.3                8.390000
6.5                8.280000
6.6                8.250000
6.7                8.650000
6.8                8.170000
7.0                8.240000
7.1                8.290000
7.2                8.540000
7.3                8.420000
7.4                8.560000
7.5                8.110000
7.9                8.500000
8.5                8.810000

In [39]:
HighFreedom[["hf_score","ef_legal_military"]].groupby("ef_legal_military").mean()

                   hf_score
ef_legal_military
6.7                8.353333
7.5                8.150000
8.3                8.304286
9.2                8.500000
10.0               8.462105

In [40]:
HighFreedom[["hf_score","pf_association_sport"]].groupby("pf_association_sport").head()

     hf_score  pf_association_sport
5        8.62                  10.0
6        8.48                  10.0
13       8.29                  10.0
27       8.65                  10.0
31       8.15                  10.0
121      8.27                   7.5

In [41]:
# Groupby()를 이제 핵심적인 요소들로 묶어서 나타내면 다음과 같이 정렬됩니다. 이렇게 정렬을 하니까 확실히 축구 강국들이 상대적으로 많이 포진되어 있습니다. 추가적으로 세계적인 축구강국은 아니지만, 이 목록에 대한민국이 있는 점을 보아, 우리나라가 자유민주주의 국가의 역할을 제대로 하고 있음 또한 해석할 수 있습니다.

In [42]:
HighFreedom[["countries","region","hf_score","pf_association_sport"]].groupby("pf_association_sport").head(20)

,countries,region,hf_score,pf_association_sport
5,Australia,Oceania,8.62,10.0
6,Austria,Western Europe,8.48,10.0
13,Belgium,Western Europe,8.29,10.0
27,Canada,North America,8.65,10.0
31,Chile,Latin America & the Caribbean,8.15,10.0
40,Czech Rep.,Eastern Europe,8.34,10.0
41,Denmark,Western Europe,8.56,10.0
46,Estonia,Eastern Europe,8.46,10.0
50,Finland,Western Europe,8.53,10.0
51,France,Western Europe,8.02,10.0
55,Germany,Western Europe,8.53,10.0
64,Hong Kong,East Asia,8.81,10.0
66,Iceland,Western Europe,8.41,10.0
73,Italy,Western Europe,8.04,10.0
79,"Korea, South",East Asia,8.20,10.0
83,Latvia,Eastern Europe,8.29,10.0
88,Lithuania,Eastern Europe,8.32,10.0
89,Luxembourg,Western Europe,8.56,10.0
94,Malta,Western Europe,8.37,10.0
106,Netherlands,Western Europe,8.50,10.0
121,Portugal,Western Europe,8.27,7.5

#### hf_score와 pf_association_sport의 점수를 큰 순서대로 나열해서 데이터셋을 재정렬해서 표현했습니다. 이 형태를 엑셀로 저장해서도 확인할 수 있습니다.

#### 최종으로 출력된 데이터셋은 2017 기준 피파랭킹 1~50위까지 비교했을 때 상당히 많은 국가들이 여기에 해당된다는 점을 알 수 있습니다.

In [44]:
HighFreedom.sort_values(by=["hf_score","pf_association_sport"],ascending=False).head(10)

,year,countries,region,hf_score,pf_association_sport,pf_religion,ef_government,ef_legal_protection,ef_legal_military,ef_money_growth,ef_trade_movement,ef_regulation_labor_hours
107,2017,New Zealand,Oceania,8.88,10.0,9.7,6.6,8.6,10.0,9.0,7.2,10.0
140,2017,Switzerland,Western Europe,8.82,10.0,8.2,7.6,9.2,10.0,9.9,6.2,6.0
64,2017,Hong Kong,East Asia,8.81,10.0,8.6,8.2,8.6,8.3,9.1,8.5,10.0
27,2017,Canada,North America,8.65,10.0,9.0,6.5,8.4,10.0,9.0,6.7,8.0
5,2017,Australia,Oceania,8.62,10.0,9.1,7.0,8.2,10.0,9.0,3.9,10.0
41,2017,Denmark,Western Europe,8.56,10.0,7.7,4.7,8.2,10.0,9.8,7.4,8.0
89,2017,Luxembourg,Western Europe,8.56,10.0,9.1,5.4,8.8,10.0,8.4,6.6,6.0
50,2017,Finland,Western Europe,8.53,10.0,7.9,4.7,9.3,10.0,8.1,6.2,8.0
55,2017,Germany,Western Europe,8.53,10.0,7.7,6.2,7.6,10.0,8.3,5.9,8.0
106,2017,Netherlands,Western Europe,8.50,10.0,8.9,4.3,8.6,10.0,8.2,7.9,10.0

In [50]:
HighFreedom.to_excel('HighFreedom.xlsx',sheet_name='Freedom',index=False)

#### pivot으로 이번에 ef_money_growth, 즉 경제성장과 어느정도 연관이 있는 변수를 설정해서 스포츠와 국가들을 기준으로 두고 money growth의 가치를 나타냈을 때에도 역시 웬만하면 피파랭킹에서 어느정도 높은 위치에 해당하는 국가들이 경제력 역시 상위권에 주로 포진되어 있음을 알 수 있습니다.

#### 경제력과 스포츠 자유도가 높은 점을 보아 이 국가들은 스포츠 산업에 많은 투자를 하고 있고, 특히 유럽 국가들은 전통적으로 축구가 하나의 문화이기 때문에 더욱 자국리그와 국가대표팀에 투자를 많이 한다는 것을 알 수 있습니다.

In [46]:
small = HighFreedom[["countries","pf_association_sport","ef_money_growth"]]

In [47]:
small.pivot(index="pf_association_sport",columns="countries",values ="ef_money_growth").head()

countries,Australia,Austria,Belgium,Canada,Chile,Czech Rep.,Denmark,Estonia,Finland,France,...,Norway,Portugal,Romania,Slovak Rep.,Spain,Sweden,Switzerland,Taiwan,United Kingdom,United States
pf_association_sport,,,,,,,,,,,,,,,,,,,,,
7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10.0,9.0,8.2,8.5,9.0,9.1,7.8,9.8,8.3,8.1,8.2,...,9.6,NaN,8.2,8.4,8.2,7.7,9.9,9.7,9.5,9.7

#### 끝으로 이 프로젝트를 통해서 기본적으로 선진국들이 보다 피파랭킹에서 높은 순위를 자랑했던 것이 자유도와 상대적으로 많이 연관이 되어 있었음을 알 수 있었습니다

#### 물론 세상에 완벽한 데이터나 완벽한 설명이 없듯이 간혹 변수가 존재하지만, 뭐든지 절대적으로 흑백논리로 배분하는 것보다 상대적인 특성을 가진 결과들이 더욱 의미가 있고 과거,현재,미래와의 관계 또한 유기적으로 연결이 되도록 돕는 것 같습니다.